body {
    background: #71eaf9;
    background: linear-gradient(90deg, #71eaf9 0%, 
              #7172f8 25%, #b95af9 50%, 
              #f94545 75%, #ffa149 100%);
    color: #000000;
}

button {
    background-color: #000000;
    color: #ffffff;
}

input {
    background-color: #000000;
    color: #ffffff;
}

/* links shown inside of buttons, so they don't have the underline */
.link-button {
    text-decoration: none;
    color:#ffffff;
    /* background-color: #000000; */
}

/* style when viewing posts */
.post {
    width: 30em;
    height: 2em;
    background-color: #000000;
    color: #ffffff;
}

.card {
    width: 20rem;
    background-color: #232222;
    color: #ffffff;
}

.info {
    background-color: #000000;
    color: #ffffff;
    padding: 1.5em;
}

/* status message when something successful happens */
.success {
    /* makes an outline to the text so it can be seen 
    against the gradient background */
    text-shadow: -1.5px -1.5px 0 #000000, 
    1.5px -1.5px 0 #000000, 
    -1.5px 1.5px 0 #000000, 
    1.5px 1.5px 0 #000000;
    color: #49ff4c;    
}

/* status message when something fails */
.failure {
    text-shadow: -1.5px -1.5px 0 #000000, 
    1.5px -1.5px 0 #000000, 
    -1.5px 1.5px 0 #000000, 
    1.5px 1.5px 0 #000000;
    color: #f94545;
}

/* buttons for deleting posts */
.delete {
    background-color: #f94545;
}

.hashtag a {
    color: #49ff4c;
    text-decoration: none;
}

/* placeholder text inside of inputs */
::placeholder {
    color: #ffffff;
}
